<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - iPortfolio Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favico-32x32.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Updated: Jun 29 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    html, body {
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }
  </style>


</head>

<body class="index-page">

  <header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="../static/assets/img/my-profile1-img.jpg" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="sitename">Konstantinos Tournas</h1>
    </a>

    <div class="social-links text-center">
      <a href="https://x.com/Tournas_" class="x"><i class="bi bi-twitter-x"></i></a>
      <a href="https://github.com/tournas-ai" class="github"><i class="bi bi-github"></i></a>
      <a href="https://www.linkedin.com/in/konstantinos-tournas-05513b334/" class="linkedin"><i class="bi bi-linkedin"></i></a>
      <a href="mailto:tournas62@gmail.com" class="email"><i class="bi bi-envelope"></i></a>
    </div>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
        <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
        <li><a href="#portfolio"><i class="bi bi-images navicon"></i> Portfolio</a></li>
        <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>
    </nav>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="../static/assets/img/ai-background-img.jpeg" alt="" data-aos="fade-in" class="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>Konstantinos Tournas</h2>
        <p>I'm <span class="typed" data-typed-items=" an AI and Machine Learning Engineer, passionate about NLP"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p>I’m Kostas, a passionate learner in the field of machine learning.</p><br>
        <p>I’m currently developing my skills through hands-on projects like heart disease prediction and image recognition.</p><br>
        <p>My goal is to merge technical expertise with creativity to build innovative AI solutions.</p>


      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img src="../static/assets/img/profile-pic.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 content">

            <!DOCTYPE html>
            <html lang="en">
            <head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>About Me</title>
            </head>
            <body>

            <div>
              <!-- Your existing title -->
              <h2>AI & Machine Learning Engineer.</h2>

              <!-- Add a line break for space -->
              <br>

              <!-- New content below -->
              <p> > <strong> City:</strong> Thessaloniki, Greece</p>

              <p>I am a Machine Learning enthusiast with a focus on developing cutting-edge AI solutions.</p>

              <p>With a growing experience in the field, I have been involved in creating machine learning models and deploying them into production. My expertise lies in areas such as computer vision, natural language processing, and predictive modeling. I am proficient in a wide range of industry tools, including Python, TensorFlow, Keras, Scikit-learn, and Docker, which allow me to build efficient and scalable machine learning systems.</p>

              <p>I take pride in managing end-to-end machine learning projects, from conceptualization and model development to deployment and maintenance in production environments. I continuously strive to enhance my skills and apply innovative solutions to real-world challenges.</p>
            </div>

            </body>
            </html>

          </div>
        </div>


    <!-- Resume Section -->
    <section id="resume" class="resume section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>

      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Skills</h3>

            <div class="resume-item pb-0">
              <h4>LANGUAGES</h4>
              <p><em></em></p>
              <ul>
                <li>Python</li>
              </ul>


              <h4>ML STACK</h4>
              <p><em></em></p>
              <ul>
                <li>Pytorch, Tensorflow/Keras, Scikit-learn, Pandas, Numpy, Matplotlib,</li>
              </ul>
            </div><!-- End Resume Item -->


            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4></h4>
              <h5></h5>
              <p><em></em></p>
              <p></p>
            </div><!-- End Resume Item -->

            <div class="resume-item">
              <h4> Completed ZTM Career Path in ΑΙ &amp; Machine Learning Enginnering</h4>
              <h5>2024 - 2025</h5>
              <p><em>Career Path in AI & Machine Learning Engineering </em></p>
              <p>Since early 2024, I became a part of Zero to Mastery and began the AI & Machine Learning Engineer path. I completed my own end-to-end projects and gained expertise in libraries such as NumPy, Pandas, Matplotlib, Scikit-learn, and deep learning frameworks like TensorFlow and PyTorch.</p>
            </div><!-- End Resume Item -->

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
<!--            <h3 class="resume-title">Professional Experience</h3>-->
<!--            <div class="resume-item">-->
<!--              <h4>Senior graphic design specialist</h4>-->
<!--              <h5>2019 - Present</h5>-->
<!--              <p><em>Experion, New York, NY </em></p>-->
<!--              <ul>-->
<!--                <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>-->
<!--                <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>-->
<!--                <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>-->
<!--                <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>-->
<!--              </ul>-->
<!--            </div>&lt;!&ndash; End Resume Item &ndash;&gt;-->

<!--            <div class="resume-item">-->
<!--              <h4>Graphic design specialist</h4>-->
<!--              <h5>2017 - 2018</h5>-->
<!--              <p><em>Stepping Stone Advertising, New York, NY</em></p>-->
<!--              <ul>-->
<!--                <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>-->
<!--                <li>Managed up to 5 projects or tasks at a given time while under pressure</li>-->
<!--                <li>Recommended and consulted with clients on the most appropriate graphic design</li>-->
<!--                <li>Created 4+ design presentations and proposals a month for clients and account managers</li>-->
<!--              </ul>-->
<!--            </div>&lt;!&ndash; End Resume Item &ndash;&gt;-->

          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>Here is a collection of my personal projects, showcasing my skills in ΑΙ and machine learning. These projects reflect my passion for solving real-world problems through innovative solutions and cutting-edge technologies..</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">

            <li data-filter=".filter-project"><strong>Projects</strong></li>



          </ul><!-- End Portfolio Filters -->

<!--          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">-->
<!--              <div class="portfolio-content h-100">-->
<!--                <img src="../static/assets/img/portfolio/app-1.jpg" class="img-fluid" alt="">-->
<!--                <div class="portfolio-info">-->
<!--                  <h4>App 1</h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                  <a href="../static/assets/img/portfolio/app-1.jpg" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">-->
<!--              <div class="portfolio-content h-100">-->
<!--                <img src="../static/assets/img/portfolio/product-1.jpg" class="img-fluid" alt="">-->
<!--                <div class="portfolio-info">-->
<!--                  <h4>Product 1</h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                  <a href="../static/assets/img/portfolio/product-1.jpg" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">-->
<!--              <div class="portfolio-content h-100">-->
<!--                <img src="../static/assets/img/portfolio/branding-1.jpg" class="img-fluid" alt="">-->
<!--                <div class="portfolio-info">-->
<!--                  <h4>Branding 1</h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                  <a href="../static/assets/img/portfolio/branding-1.jpg" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">-->
<!--              <div class="portfolio-content h-100">-->
<!--                <img src="../static/assets/img/portfolio/books-1.jpg" class="img-fluid" alt="">-->
<!--                <div class="portfolio-info">-->
<!--                  <h4>Books 1</h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                  <a href="../static/assets/img/portfolio/books-1.jpg" title="Branding 1" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">-->
<!--              <div class="portfolio-content h-100">-->
<!--                <img src="../static/assets/img/portfolio/app-2.jpg" class="img-fluid" alt="">-->
<!--                <div class="portfolio-info">-->
<!--                  <h4>App 2</h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                  <a href="../static/assets/img/portfolio/app-2.jpg" title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">-->
<!--              <div class="portfolio-content h-100">-->
<!--                <img src="../static/assets/img/portfolio/product-2.jpg" class="img-fluid" alt="">-->
<!--                <div class="portfolio-info">-->
<!--                  <h4>Product 2</h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                  <a href="../static/assets/img/portfolio/product-2.jpg" title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">-->
<!--              <div class="portfolio-content h-100">-->
<!--                <img src="../static/assets/img/portfolio/branding-2.jpg" class="img-fluid" alt="">-->
<!--                <div class="portfolio-info">-->
<!--                  <h4>Branding 2</h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                  <a href="../static/assets/img/portfolio/branding-2.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">-->
<!--              <div class="portfolio-content h-100">-->
<!--                <img src="../static/assets/img/portfolio/books-2.jpg" class="img-fluid" alt="">-->
<!--                <div class="portfolio-info">-->
<!--                  <h4>Books 2</h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                  <a href="../static/assets/img/portfolio/books-2.jpg" title="Branding 2" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">-->
<!--              <div class="portfolio-content h-100">-->
<!--                <img src="../static/assets/img/portfolio/app-3.jpg" class="img-fluid" alt="">-->
<!--                <div class="portfolio-info">-->
<!--                  <h4>App 3</h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                  <a href="../static/assets/img/portfolio/app-3.jpg" title="App 3" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">-->
<!--              <div class="portfolio-content h-100">-->
<!--                <img src="../static/assets/img/portfolio/product-3.jpg" class="img-fluid" alt="">-->
<!--                <div class="portfolio-info">-->
<!--                  <h4>Product 3</h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                  <a href="../static/assets/img/portfolio/product-3.jpg" title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">-->
<!--              <div class="portfolio-content h-100">-->
<!--                <img src="../static/assets/img/portfolio/branding-3.jpg" class="img-fluid" alt="">-->
<!--                <div class="portfolio-info">-->
<!--                  <h4>Branding 3</h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                  <a href="../static/assets/img/portfolio/branding-3.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">-->
<!--              <div class="portfolio-content h-100">-->
<!--                <img src="../static/assets/img/portfolio/books-3.jpg" class="img-fluid" alt="">-->
<!--                <div class="portfolio-info">-->
<!--                  <h4>Books 3</h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                  <a href="../static/assets/img/portfolio/books-3.jpg" title="Branding 3" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                  <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section light-background">


      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Get in touch</h2>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">



        <div class="row gy-4">

          <div class="col-lg-5">

            <div class="info-wrap">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Location</h3>
                  <p>Thessaloniki(SKG), Greece, 54453</p>
                </div>
              </div><!-- End Info Item -->



              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email:</h3>
                  <p>tournas62@gmail.com</p>
                </div>
              </div><!-- End Info Item -->

              <iframe src="https://www.google.gr/maps/place/%CE%98%CE%B5%CF%83%CF%83%CE%B1%CE%BB%CE%BF%CE%BD%CE%AF%CE%BA%CE%B7/@40.6212503,22.9048278,13z/data=!3m1!4b1!4m6!3m5!1s0x14a838f41428e0ed:0x9bae715b8d574a9!8m2!3d40.6400629!4d22.9444191!16zL20vMGIybWM!5m1!1e1?hl=el&entry=ttu&g_ep=EgoyMDI0MTAyOS4wIKXMDSoASAFQAw%3D%3D" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

          <div class="col-lg-5">
            <form action="../iPortfolio-pro/forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="row gy-2"> <!-- Αντικατάστησε το gy-4 με gy-3 ή gy-2 -->
                  <div class="col-12">
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                      <i class="bi bi-github flex-shrink-0"></i>
                      <div>
                        <h3>GitHub:</h3>
                        <p><a href="https://github.com/tournas-ai" target="_blank">Konstantinos Tournas</a></p>
                      </div>
                    </div><!-- End Info Item -->
                  </div>

                  <div class="col-12">
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                      <i class="bi bi-linkedin flex-shrink-0"></i>
                      <div>
                        <h3>LinkedIn</h3>
                        <p><a href="https://www.linkedin.com/in/konstantinos-tournas-05513b334/" target="_blank">Κonstantinos Tournas</a></p>
                      </div>
                    </div><!-- End Info Item -->
                  </div>
                </div>
              </div>

            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer position-relative light-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Konstantinos Tournas</strong> <span>All Rights Reserved</span></p>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>